.calculator{
    width: 40%;
    margin: auto;
    margin-top: 8%;
    background-color: #343a40
}

#input{
    width: 96.5%;
    padding: 1.5%;
    font-size: 50px;
    border-radius: 3px ;
}

.buttons{
    display: grid;
    margin: 0%;
    padding: 0%;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.button{
    font-size: 50px;
    padding: 5%;
}

