div{
    margin-bottom: 1%;
}

.label {
    display: inline;
}

.input {
    border: 1px solid;
    width: 100px;
    padding: 5px;

}

.function-container{
    display: flex;
    gap: 1%;
}

.function{
    border: 2px solid;
    padding: 3px;
}